body{
  background-color: #2B2B2B;
  font-family: 'Stick', sans-serif;
  color: #66DE93;
}

h1{
  text-align:center;
  font-size:7.5rem;
}

table{
  margin:0 auto;
}

td{
  padding: 3rem;
}
